*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whole-page-container{
    margin: 0 50px;
}


#filter-form{
    margin:50px 0;

}


#filter-form h1{
    margin-bottom: 20px;
}

#filter-form div {
    margin: 30px 0;
    height: 40px;
    font-size: 20px;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 420px;
}

#filter-form input{
    background-color: rgb(49, 85, 87);
    color: whitesmoke;
    height: 30px;
    width: 170px;

    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#filter-form input:focus{
    background-color: rgb(79, 136, 139);;
}

::placeholder{
    color: whitesmoke;
    opacity: 0.8;
}

#filter-form select{
    background-color: rgb(49, 85, 87);
    color: whitesmoke;
    height: 40px;
    width: 170px;

    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    /* -webkit-appearance: button; */

}

.box{
    position: relative;
}

#filter-form .box .button{
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background: rgb(60, 105, 107);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    pointer-events: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


#filter-form select:hover ~ .button{
    background-color: rgb(81, 141, 144);
    cursor: pointer;
}

#filter-form select:hover{
    cursor: pointer;
}

#filter-form option{
    padding: 5px 0;
}